Package: com.shalamand3r.standbynow
Name: StandByNow
Version: 1.0
Architecture: iphoneos-arm64
Description: Toggle StandBy on iOS even when not charging
Maintainer: pookjw/wrp1002/shalamand3r
Author: pookjw/wrp1002/shalamand3r
Section: Tweaks
Depends: firmware (>= 17.0)