<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Configuration</string>
			<key>id</key>
			<string>ConfigGroup</string>
			<key>footerText</key>
			<string></string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>key</key>
			<string>kEnabled</string>
			<key>label</key>
			<string>Enabled</string>
			<key>iconImageSystem</key>
			<dict>
				<key>name</key>
				<string>power</string>
			</dict>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.shalamand3r.standbynow</string>
			<key>PostNotification</key>
			<string>com.shalamand3r.standbynow/ReloadPrefs</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>key</key>
			<string>kActivation</string>
			<key>label</key>
			<string>Activation</string>
			<key>iconImageSystem</key>
			<dict>
				<key>name</key>
				<string>hand.tap</string>
			</dict>
			<key>validTitles</key>
			<array>
				<string>Lock Button Triple Click</string>
				<string>Lock Button Double Click</string>
				<string>Lock Button Hold</string>
				<string>Volume Up + Down</string>
				<string>Home Button Double Click</string>
				<string>Home Button Triple Click</string>
				<string>Home Button Hold</string>
			</array>
			<key>validValues</key>
			<array>
				<string>tripleLock</string>
				<string>doubleLock</string>
				<string>holdLock</string>
				<string>volume</string>
				<string>doubleHome</string>
				<string>tripleHome</string>
				<string>holdHome</string>
			</array>
			<key>default</key>
			<string>tripleLock</string>
			<key>defaults</key>
			<string>com.shalamand3r.standbynow</string>
			<key>PostNotification</key>
			<string>com.shalamand3r.standbynow/ReloadPrefs</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Links</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Source Code (GitHub)</string>
			<key>id</key>
			<string>GitHubCell</string>
			<key>action</key>
			<string>openGithub</string>
		</dict>
	</array>
</dict>
</plist>
